env: ENV_PROD
server:
  http:
    addr: 0.0.0.0:8000
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9000
    timeout: 1s
chain:
  chain_id: 421614
  chain_name: "arbitrum-sepolia"
  rpc_url: "https://sepolia-rollup.arbitrum.io/rpc"
  start_block: 0
  offset_block: 3600 # opBNB block time: 1 sec. An offset of 3600 starts fetching blocks from 1 hours ago.
contract:
  addr: "0xcb37148add8b8be58034a742495d935c78d9fd76"
  tee_addr : "0x7f57004E08ef1702b2b88b87ae01a561ae10F10e"
  topic1: "0x89a3b784b99180438f3b2027aa89e97c3c3ed66e8dc78a555d7013b39caf1a89"
  topic2: "0x455929120054502ca2ea8194b26e7bb3acb631d30177f6881ffa70581abd4a13"
settings_contract:
  addr: "0xBeFAB38c0Cf603Ca59fe064fc7B3c2BcA726A28F"
wallet:
  mode: 0
  private_key: ""
  keystore_path: ""
  keystore_password: ""
  reward_claimer_addr: ""
  commission_rate: 0
signature:
  domain_name: "ProtocolService"
  domain_version: "1.0.0"
  expired_time: 3600
gasless_service:
  url: "http://localhost:8080"
